
.a{width:200px;height: 500px; background: red; position: absolute; left: 0;top: 0; }
.s{height: 500px; background: yellow; margin: 0 300px 0 200px;}
.d{width: 300px; height: 500px; background: black; position: absolute; right: 0; top:0; }