*{
    margin: 0;
    padding: 0;
}
.top{
    width: 1920px;
    height: 54px;
    background-color: #00b489;
}
.top_one{
    width: 1110px;
    height: 54px;
    text-align: center;
    margin: 0 390px;
}

.top_one_left li{
    list-style: none;
    float: left;
    line-height: 54px;
    margin-left: 16px;
    width: 81px;
    height: 54px;
}
.top_one_left span{
    display: block;
    width: 70px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 16px;
}
a{
    text-decoration: none;
}
.top_one img{
}
.top_one_a{
    width: 80px;
    height: 34px;
    padding: 4px 0;
    margin-top: 6px;
    margin-right: 16px;
    float: left;
}
.shoye{
    width: 80px;
    background-color: #00a880;
}
.top_one_input{
    height: 16px;
    width: 210px;
    font-family: "微软雅黑";
    padding: 6px 12px;
}
.top_one_right{
    float: right;

}
.top_one_right span{
    
    width: 81px;
    text-align: center;
    color: #fff;
    padding-left: 18px;
    font-family: "微软雅黑";
    font-size: 16px;
}
.top_one_right li{
    height: 54px;
    list-style: none;
    line-height: 54px;
}
.mid{
    width: 1920px;
    height: 433px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 80px;
    padding-bottom: 40px;
}
 .mid img{
     margin-top: 80px;
     max-height: 300px;

}
.mid_h1{
    width: 100%;
    line-height: 44px;
    margin-bottom: 8px;
    letter-spacing: 6px;
    font-size: 40px;
    font-weight: 300;
    font-family: Open Sans,open_sans,PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
    color: #333;
    text-align: center;
} 
.liebiao{
    background-color: #f5f5f5;
    
}
.liebiao_one{
    text-align: center;
    margin: 0 50px auto;
    padding: 75px 0 15px 15px;
    
}
.liebiao_one h1{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 8px;
}
.liebiao_one_p{
    font-size: 18px;
    font-family:"微软雅黑";
    text-align: center;
    color: #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
}
.liebiao_two{
    width: 25%;
    padding: 10px 20px;
    float: left;
    position: relative;
    min-height: 1px;
}
.liebiao_two_div{
    width: 225px;
    height: 137px;
    float: left;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.13);
    padding: 10px;
}
.liebiao_two_one{
    margin-bottom: 12px;
}
.liebiao_two_div img{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 75px;
    padding: 8px;
}
.liebiao_two_div p{
    text-align: center;
    margin-bottom: 20px;
}
.h3{
    font-size: 26px;
    color: #f00;
}