*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
body{
    background-color: #f5f5f5;
}
.top{
    background-image: url(./top_bg.jpg);
    width: 100%;
background-color: #f5f5f5;
}
.top_one{
    width: 1200px;
    height: 27px;
    margin: 0 auto;
    
}
.top_one li{
    text-decoration:none;
    float: right;
    line-height: 27px;
    width: 70px;
    list-style-image: url(./li_bg.gif);
}
.top_one a:link,.top_one a:visited{
    text-decoration:none;
    color: #8e8e8e;
}
.top_one a:hover,.top_one a:active{
    color: red;
    text-decoration: none;
}
.worp{
    width: 1200px;
    margin: 0 auto;
}
.logo{
    height: 80px;
    background-color: #fff;
}
.logo_left{
    width: 200px;
    float: left;
}
.logo_right{
    width: 300px;
    float: right;
    height: 28px;
    margin-top:27px;
    color: #8e8e8e;
}
.logo_right img{
    vertical-align: middle;
    margin-right: 5px;
}
.tel{
    font-family: "微软雅黑";
    color: red;
    font-size: 14px;
}
.nav{
    height: 40px;
    width: 1200px;
    background-color: #8e8e8e;
}
.nav_left{
    width: 10px;
    height: 40px;
    float: left;
}
.nav_min{
    width: 980px;
    height: 40px;
    float: left;
}
.nav_right{
    width: 10px;
    height: 40px;
    float: left;
}
.nav_min_left,.nav_min_right{
    float: left;
}
.nav_min_left{
    width: 680px;
}
nav_min_right{
    width: 300px;
}
.nav_min_left li{
    float: left;
    list-style-type: none;
    line-height: 40px;
    text-align:center;
    width: 100px;
}
.nav_min_left a:link,.nav_min_left a:visited{
    color:#fff ;
    text-decoration: none;
    font-family: "微软雅黑";
    font-size: 16px;
}
.nav_min_left a:hover,.nav_min_left a:active{
    color:#ff0 ;
    text-decoration: none;
    font-family: "微软雅黑";
    font-size: 16px;
}
.search_input{
    width: 190px;
    height: 25px;
    margin-top: 5px;
    background-image: url(./search.jpg);
    background-repeat: no-repeat;
    background-position:right center;
    background-color: #fff;
    padding-right: 25px;
    border: 1px solid #fff;
}
.ad{
    height: 310px;
    overflow: hidden;
}
.main{
    height: 250px;
    background-color: #fff;
    margin-top: 5px;
}
.news{
    width: 340px;
    border: 1px solid #e8e8e8;
    
}
.course{
    width: 410px;
    border: 1px solid #e8e8e8;
    margin: 0 7;
}
.sidebar{
    width: 230px;
}
.news,.course,.sidebar{
    height: 250px;
    float: left;
}
.title{
    height: 35px;
    border-bottom: 2px solid #e8e8e8;
}
.title_left{
    width: 70%;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;
    color: #786f66;
    float: left;
    line-height: 35px;
    padding-left: 20px;
}
.title_right{
    width:20%;
    float: right;
    line-height: 35px;
}
.title_right a{
    text-decoration: none;
    color: #999999;
}
.pic_news{
    height: 80px;
    margin-top: 10px;
}
.pic_news img{
    float: left;
    margin: 0 5px;
}