*{margin: 0; padding: o; font-size: 14px; }
ul{list-style: none; width: 100px;}
a{text-decoration: none; display: block; line-height: 30px; height: 30px;  width: 100; background-color: gray; margin-bottom: 2px; text-indent: 20px;}
a:hover{background-color: yellowgreen;color: red;}