.tag{width: 5px; height: 22px; background-color: red; display: inline-block; }
ul{padding: 0px;
margin: 0;}
.rush{background-color: #fceadc; font-size: 12px; color:#ff4300; height: 20px; display: inline-block;
    line-height: 20px; 
    padding-left: 4px;
    padding-right: 4px;
margin-left: 12px; 
height: 20px;
line-height: 20px;
vertical-align: 1px;
vertical-align: text-bottom;
}
.temai{font-size: 16px; font-weight: 700;vertical-align: text-bottom;}
.wrap{       float: left;
    height: 240px;
    width: 252px;
    background: #fff;
    border:1px solid #000;
}     
.wrap2{
    height: 267px;
    width: 252px;
}
.container{
    float: left;
    width: 1213px;
    height: 447px;
    padding: 0;}
.left{
    border-bottom: 1px solid rgb(238, 238, 238);
    width: 234px;
    }
.uul li {
    list-style-type:none;
    width: 124px;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 16px;
}
.xian1{width: 1px;
       height: 174px;
    position: absolute;
    left: 124px;
    top:54px;
    background: #eee;
}
.lli{
display: block;
padding-left: 18px;
text-decoration : none;
}
.uul{
display: block;
overflow:hidden;

}
.fr{
float: right;
}
.fl{
float: left;
}
.xiantiao1{
height: 1px;
background: rgb(238, 238, 238);
width: 192px;
}
.temai{
font-size: 16px;
padding-left: 12px;
margin-top: 20px;
margin-bottom: 7px;
}
.zuo li{
    display: inline-block;
list-style: none;

text-decoration : none

}
.bian1{float: left;
    margin: 0;
padding: 4px 4px 4px 4px;
font-size: 13px;
display: block;
}
.zuo{padding: 0;
}
.ll{
    font-weight: bolder;
    padding-left: 2px;
    padding-right: 2px;
}
.ii{
    padding-left: 10px;
padding-right: 10px;
}
.a{
    padding-left: 2px;
    padding-right: 2px;
}
.hon{
    color: red;
}
a:hover{
    color: red;
}
.xiantiao1{
    top: 90px;
    height: 1px;
    background: #eee;
    width: 192px;
    position: absolute;
    left: 30px; }
.xiantiao3{
    top: 140px;
    height: 1px;
    background: #eee;
    width: 192px;
    position: absolute;
    left: 30px; 
}
.xiantiao2{
    top: 190px;
    height: 1px;
    background: #eee;
    width: 192px;
    position: absolute;
    left: 30px; 
}
.right{
    float: right;
    width: 950px;
    position: relative;
}
img{
    padding: 15px 15px 15px 15px;
    width: 206px;
    height: 182px;
    
}
.mm{
    float: left;
    padding: 10px 10px 10px 10px;
}
.nn1{
    background-color: beige;
    clear :both;
    position: absolute;
    left: 11px;
    top: 172px;
    padding-bottom: 7px;
}
.nn2{
    background-color: beige;
    clear :both;
    position: absolute;
    left: 238px;
    top: 172px;
    padding-bottom: 7px;
}
.nn3{
    background-color: beige;
    clear :both;
    position: absolute;
    left: 463px;
    top: 172px;
    padding-bottom: 7px;
}
.nn4{
    background-color: beige;
    clear :both;
    position: absolute;
    left: 689px;
    top: 172px;
    padding-bottom: 7px;
}
.nn5{
    background-color: beige;
    clear :both;
    position: absolute;
    left: 11px;
    top: 379px;
    padding-bottom: 7px;
}
.nn6{
    background-color: beige;
    clear :both;
    position: absolute;
    left: 238px;
    top: 379px;
    padding-bottom: 7px;
}
.nn7{
    background-color: beige;
    clear :both;
    position: absolute;
    left: 463px;
    top: 379px;
    padding-bottom: 7px;
}
.nn8{
    background-color: beige;
    clear :both;
    position: absolute;
    left: 689px;
    top: 379px;
    padding-bottom: 7px;
}
.qian{position: absolute;
    left: 11px;
    top: 193px; 
}
.qian2{position: absolute;
        left: 238px;
        top: 193px; 
}
.qian3{position: absolute;
    left: 464px;
    top: 193px; 
}
.qian4{position: absolute;
    left: 688px;
    top: 193px; 
}
.qian5{position: absolute;
    left: 11px;
    top: 398px; 
}
.qian6{position: absolute;
    left: 238px;
    top: 398px; 
}
.qian7{position: absolute;
    left: 464px;
    top: 398px; 
}
.qian8{position: absolute;
    left: 688px;
    top: 398px; 
}

em{
    font-size: 16px;
    color: red;}
.bao{
    float: right;
    background-color:#40c19d;
    line-height: 16px;
    width: 20px;
}
.tt{ 
    
    height:  267px;
width: 236px;}    
