*{
    margin: 0;
    padding: 0;
    font-family: Open Sans,open_sans,PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;

}
.top{
    width: 1920px;
    height: 54px;
    background-color: #00b489;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.top_one{
    width: 1110px;
    height: 54px;
    text-align: center;
    margin: 0 390px;
}

.top_one_left li{
    list-style: none;
    float: left;
    line-height: 54px;
    margin-left: 16px;
    width: 81px;
    height: 54px;
}
.top_one_left span{
    display: block;
    width: 100%;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 16px;
    
}
.top_one_left span:hover{
    background-color: #00a880;
}
a{
    text-decoration: none;
}

.top_one_a{
    width: 80px;
    height: 34px;
    padding: 4px 0;
    margin-top: 6px;
    margin-right: 16px;
    float: left;
}
.shoye{
    width: 80px;
    background-color: #00a880;
}
.top_one_input{
    height: 16px;
    width: 210px;
    font-family: "微软雅黑";
    padding: 6px 12px;
}
.top_one_right{
    float: right;

}
.top_one_right span{
    
    width: 81px;
    text-align: center;
    color: #fff;
    padding-left: 18px;
    font-family: "微软雅黑";
    font-size: 16px;
}
.top_one_right li{
    height: 54px;
    list-style: none;
    line-height: 54px;
}

.mid{
    width: 1920px;
    height: 433px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 80px;
    padding-bottom: 40px;
}
 .mid img{
     margin-top: 80px;
     max-height: 300px;

}
.mid_h1{
    width: 100%;
    line-height: 44px;
    margin-bottom: 8px;
    letter-spacing: 6px;
    font-size: 40px;
    font-weight: 300;
    font-family: Open Sans,open_sans,PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
    color: #333;
    text-align: center;
} 
.content{
    width: 100%;
    text-align: center;
    background-color: #fcfcfc;
}
.liebiao{
    margin: 0 auto;
    background-color: #fcfcfc;
    margin-left: 379px;
    margin-right: 379px;
}
.liebiao_row{
    width: 1140px;
    background-color: #fcfcfc;
    clear: both;
    text-align: center;
    padding: 75px 15px 0px 15px;
}
.one{
    width: 1140px;
    margin: 0 auto;
}
.liebiao h1{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 8px;
    font-size: 40px;
    font-weight: 300;
    font-family: Open Sans,open_sans,PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
}
.liebiao_one_p{
    font-size: 20px;
    font-family:"微软雅黑";
    text-align: center;
    color: #999;
    clear: both;
    margin-top: 25px;
    margin-bottom: 50px;
}
.liebiao_two{
    padding: 10px 20px;
    min-height: 1px;
    width: 240px;
    display: inline-block;
}
.liebiao_two_div:hover{
    box-shadow: 6px 6px 24px 2px rgba(68,68,68,.17);
}
.liebiao_two_div{
    width: 225px;
    height: 137px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.13);
    padding: 10px;
}
.liebiao_two_one{
    display: block;
    margin-bottom: 12px;
}
.liebiao_two_div img{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 75px;
    padding: 8px;
}
.liebiao_two_div p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: Open Sans,open_sans,PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
}
.h3{
    font-size: 26px;
    color: #f00;
}


.row{
    background-color: #fcfcfc;
}
.row_row{
    background-color: #fcfcfc;
    clear: both;
    text-align: center;
    padding: 75px 15px 0px 15px;
    margin-left: 350.5px;
    margin-right: 350.5px;
    margin-bottom: 50px;
}
.row h1{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 8px;
    font-size: 40px;
    font-weight: 300;
    font-family: Open Sans,open_sans,PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
}
.row_one_p{
    font-size: 20px;
    font-family:"微软雅黑";
    text-align: center;
    color: #999;
    clear: both;
    margin-top: 25px;
    margin-bottom: 50px;
}
.row_two{
    padding: 12px 15px;
    float: left;
    position: relative;
    min-height: 1px;
    width: 350px;
    height: 253px;
}
.row_two_one:hover{
    box-shadow: 6px 6px 24px 2px rgba(68,68,68,.17);
}
.row_two_div{
    width: 310px;
    height: 127px;
    float: left;
    padding: 30px 20px 20px 20px;
    clear: both;
}
.row_two_one{
    display: block;
    width: 350px;
    height: 241px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.13);
    margin-bottom: 12px;
}
/* .row_two_div img{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 75px;
    padding: 8px;
} */
.row_two_div p{
    text-align: center;
    font-size: 18px;
    font-family: Open Sans,open_sans,PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
}
.row_two_p{
    width: 310px;
    height: 44px;
    padding: 0px 20px 20px 20px;
    font-family: Open Sans,open_sans,PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
    color: #666666;
}
/* .row_two_l{
    width: 310px;
    height: 44px;
    padding: 0px 20px 20px 20px;
    position: relative;
    top: 178px;
} */
.row_two_img{
    position: relative;
    left: 117px;
    top: 13px;
    width: 62px;
    height: 62px;
    border: 1px solid #333;
}
.row_two_l{  
    position: relative;
    top: 179px;
    position: relative;
    top: 14px;
    margin-top: 20px;
}
.xia{
    float: right
}
.a{
    float: right;
    color: #999;
    font-size: 14px;
    cursor: pointer;

}
.a h1{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 8px;
    font-size: 40px;
    font-weight: 300;
    font-family: Open Sans,open_sans,PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
}
.a_one_p{
    font-size: 20px;
    font-family:"微软雅黑";
    text-align: center;
    color: #999;
    clear: both;
    margin-top: 25px;
    margin-bottom: 50px;
}
.a_two{
    padding: 10px 20px;
    min-height: 1px;
    width: 336px;
    height: 253px;
    display: inline-block;
    
}
.a_two_div:hover{
    box-shadow: 6px 6px 24px 2px rgba(68,68,68,.17);
}
.a_two_div{
    width: 330px;
    height: 220px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.13);
    background-color: #fff;
}
.a_two_one{
    display: block;
    margin-bottom: 12px;
    width: 350px;
    height: 230px;
}
.a_two_div img{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 75px;
    padding: 8px;
}
.a_two_div p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: Open Sans,open_sans,PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
}
.a_two_div_top{
    width: 300px;
    height: 127px;
    padding: 30px 20px 20px 20px;
}
.a_two_div_top_img{
    width: 62px;
    height: 62px;
    padding: 8px;
    border: 1px solid #eee;
    margin: 0 auto;
}
.a_two_div_top_p{
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}
.a_two_div_button_p{
    color: #666666;
}
.b_two{
    padding: 10px 20px;
    min-height: 1px;
    width: 336px;
    height: 253px;
    display: inline-block;
    
}
.b_two_div:hover{
    box-shadow: 6px 6px 24px 2px rgba(68,68,68,.17);
}
.b_two_div{
    width: 330px;
    height: 245px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.13);
    background-color: #fff;
}
.b_two_one{
    display: block;
    margin-bottom: 12px;
    width: 350px;
    height: 230px;
}
.b_two_div_img{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 75px;
    padding: 8px;
}
.b_two_div p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: Open Sans,open_sans,PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
}
.b_two_div_top{
    width: 300px;
    height: 127px;
    padding: 30px 20px 20px 20px;
}
.b_two_div_top_img{
    width: 62px;
    height: 62px;
    padding: 8px;
    border: 1px solid #eee;
    margin: 0 auto;
    border-radius: 50%;
}
.b_two_div_top_p{
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}
.b_two_div_top_img_logo{
    border-radius: 50%;
    
}
.b_two_div_button_img{
    width: 32px;
    height: 32px;
    border: 1px solid #eee;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 8px;
}
.b_two_div_button{
    
}
.b_two_div_button_1{
    width: 320px;
    height: 50px;
}
.b_two_div_button_img_logo{
    width: 32px;
    height: 32px;
}
.b_two_div_button_img_logo_1{
    width: 32px;
    height: 32px;
}
.seek{
    width: 1110px;
    height: 225px;
    padding: 0px 15px 0px 15px;
    margin: 89px 379px 0px 370px;
}
.seek h3{
    font-size: 34px;
    color: inherit;
    margin-bottom: 40px;
    font-family: Open Sans,open_sans,PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
    margin-bottom: 40px;
}
.seek_div{
    width: 1140px;
    height: 148px;
}
.seek_div_form{
    width: 540px;
    height: 48px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 285px;
    margin-bottom: 100px;
}
.seek_div_form_input{
    padding:6px 12px 6px 27px;
    width: 270px;
    height: 34px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid #ccc;
}
.seek_div_form_span{
    background-color: #00b489;
    display: inline-block;
    width: 125px;
    height: 48px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
        vertical-align: top;
    margin-left: -4px;
    line-height: 48px;
    color: #fff;
    font-size: 16px;
}
.seek_div_form_button{
    background-color: #00b489;
    border: none;color: #fff;
    font-size: 16px;
}
.bottom{
    width: 100%;
    height:60px;
    background-color: #f4f4f4;

}
.bottom_div{
    width: 1110px;
    height:21px;
    padding: 20px 15px 0px 15px;
    margin: 0px 364.5px 0px 364.5px;
}
.bottom_div li{
    color: #373a3c;
    list-style: none;
    float:left;
    line-height: 21px;
    padding-right: 15px;
    font-family: Open Sans,open_sans,PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
    font-size: 14px;
    
}
.bottom_div_p{
    float: right;
    font-family: Open Sans,open_sans,PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
    font-size: 14px;
    color: #373a3c;
}