*{
    margin: 0;
    padding: 0;
}
.header_top
{
    width: 100% ; 
    height: 50px; 
    background-color:#ccc;
    
}
.header_top_logo_ul2 li{
    float: right;
    list-style-type: none;
    padding: 6px 20px 6px 20px;
    line-height: 40px;
    
}
.header_top_logo img{
    float: left;
}
.header_top_logo_ul1 li{
    list-style-type: none;
    float: right;
}
.header_top_logo_ul1_li2{
    border: 1px solid #6e6e6e;
    padding: 5px 20px 5px 20px;
    margin: 9px 0px 9px 10px;
     text-decoration: none;
}
.header_top_logo_ul1_li1{
    width: 106px;
    height: 50px;
     text-decoration: none;
}
.header_top_logo_ul1_li1 a{
    display:block;
    width: 96px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: #3da8f5;
    margin-left: 10px;
    margin-top: 10px;
    
}
.header_head{
    width: 100%;
    height: 700px;
    background-color: #3da8f5;
}
.header_one{
    width: 100%;
    height: 480px;
    background-color: red;
    padding: 80px 0px 80px 0px;
}
.header_two{
    width: 100%;
    height: 445px;
    background-color: #ccc;
    padding: 80px 0px 100px 0px;
}
.header_three{
    width: 100%;
    height: 510px;
    background-color: rgb(232, 15, 240);
    padding: 80px 0px 40px 0px;
}
.header_four{
    width: 100%;
    height: 802.5px;
    background-color: rgb(136, 2, 189);
}
.bottom{
    width: 100%;
    height: 420px;
    background-color: rgb(7, 247, 247);
}