*{
    margin: 0;
    padding: 0;
}
.llll{
    width: 100%;
    height: 700px;
    position: relative;
}
.header_top
{
    width: 100% ; 
    height: 50px; 
    background-color:#ccc;
    position: absolute;
    z-index: 100;
    filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;
    padding-top: 10px;

}
.header_top_logo{
    text-decoration: none;
    list-style-type: none;
    
}
.header_top_logo_ul2 li{
    float: right;
    list-style-type: none;
    padding: 6px 20px 6px 20px;
    line-height: 40px;
    
}
.header_top_logo img{
    float: left;
}
.header_top_logo_ul1 li{
    list-style-type: none;
    float: right;
    color: #fff;
}
.header_top_logo_ul1{
    text-decoration: none;
    list-style-type: none;
}
.header_top_logo_ul1_li2{
    border: 1px solid #fff;
    padding: 5px 20px 5px 20px;
    margin: 9px 0px 9px 10px;
    
}
.header_top_logo_ul1_li2:hover{
    background-color: #fff;
}
.header_top_logo_ul1_li1{
    width: 106px;
    height: 50px;
    
}
.header_top_logo_ul1_li1 a{
    display:block;
    width: 96px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: #3da8f5;
    margin-left: 10px;
    margin-top: 10px;
    
}
.header_top_logo_ul2 li{
    text-decoration: none;
    list-style-type: none;
}
.header_head{
    width: 100%;
    height: 700px;
    background-color: #3da8f5;
    position: absolute;
    top: 0px;
    z-index: 2;
    background-image: url(./292817.jpg);
}
.header_one{
    width: 100%;
    height: 480px;
    background-color: red;
    padding: 80px 0px 80px 0px;
}
.header_two{
    width: 100%;
    height: 445px;
    background-color: #ccc;
    padding: 80px 0px 100px 0px;
}
.header_three{
    width: 100%;
    height: 510px;
    background-color: rgb(232, 15, 240);
    padding: 80px 0px 40px 0px;
}
.header_four{
    width: 100%;
    height: 802.5px;
    background-color: rgb(136, 2, 189);
}
.bottom{
    width: 100%;
    height: 420px;
    background-color: rgb(7, 247, 247);
}
.header_head_div{
    position: absolute;
    left: 207px;
    top: 271px;
    
}
.header_head_div h1{
    font-size:50px;
    margin-bottom: 20px;
    line-height:63px;
    color: #fff;
    font-family: 'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;
}
.header_head_form{
    
}
.header_head_input{
    padding: 14px 16px 14px 16px;
    width: 250px;
    border: none;
    font-size: 18px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.header_head_a1{
    display:inline-block;
    width: 125px;
    height: 50px;
    background-color: #fff;
    margin-left: -10px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    margin-top: -5px;
    background-color: rgb(3, 169, 244);
}